priority 1

snippet ns "namespace .. (namespace)"
namespace${1/.+/ /m}${1:`!p snip.rv = snip.basename or "name"`}
{
${VISUAL}$0
}${1/.+/ \/\/ /m}$1
endsnippet

snippet ifndef "header-guard .. (header-guard)"
#ifndef ${1/.+/ /m}${1:`!p snip.rv = snip.basename + "_HPP" or "name"`}
#define ${1/.+/ /m}${1:`!p snip.rv = snip.basename + "_HPP" or "name"`}

$0

#endif ${1/.+/ \/\/ ifndef /m}
endsnippet

